<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ZooApp.Properties.Settings._UdemySQLConnectionString"
            connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=_UdemySQL;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ZooApp.Properties.Settings.ZooAppDbConnectionString"
            connectionString="Data Source=DESKTOP-L1OOHPO;Initial Catalog=ZooAppDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>